name: Lintenado en Features!
on:
  push:
    branches-ignore: [master, main]
    #branches: 
    #- '!master'
    #- features
jobs:
  build:
    name: Linteando Codigo Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
         fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter/slim@v4
        env:
          DEFAULT_BRANCH: features
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_CPP: true
          VALIDATE_CLANG_FORMAT: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
